
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat" , sans-serif;
}
/*-- Navbar --*/
.navbar {
    text-transform: capitalize;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link :hover {
    color: #2f2f2f;
}

/*-- Landing --*/
.home-inner {
    background-image: url("/static/background.jpg");
    min-height: 100vh;
    background-size: cover;
    margin: auto;
    
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: capitalize;
}

.caption hr {
    display: block;
    height: 1px;
    border: 1px solid black;
    border-top: 1px solid white;
    margin: auto;
    padding: 0;
    width: 70%;
}

.caption i {
    color: white;
    padding-top: 1rem;
}

@media (max-width: 700px) {
    .caption h1 {
        font-size: 30px;
        font-weight: 700;
        text-shadow: .1rem .1rem .8rem black;
        letter-spacing: .3rem;
        padding-bottom: 1rem;
    }
}

/*-- About Me --*/

@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
      align-items: center;
      text-align: center
    }
}

#aboutMe {
    background: #2f2f2f;
}

.row {
    display: flex;
    
}

.row img{
    margin: auto;
    transform: rotate(90deg);
    width: 19.75rem;
    height: 19.75rem;
    border-radius : 50%;
    border: 2px solid white;
}

.caption1 {
    padding: 2.5rem;
    color: white;
}

.caption1 h1 {
    font-weight: bold;
    font-size: 250%;
}

.caption1 p {
    font-size: 220%;
}

.hobbies {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    color: white;
}

.hobbies h1 {
    font-weight: bold;
    font-size: 250%;
    text-align: center;
}

.hobbies li {
    line-height: 80px;
}
.hobbies .caption2 {
    font-size: 220%;
}

.caption2 {
    font-size: 220%;
    padding: 2rem;
}

.caption1 hr {
    display: block;
    height: 1px;
    border: 1px solid black;
    border-top: 1px solid white;
    margin: auto;
    width: 100%;
}

@media(max-width: 767.98px) {

}

/*-- Skills Section --*/
.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}

.fixed {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url("/static/bg_new.jpg");
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change : transform;
}

.content {
    z-index: 1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.dark h1 {
    padding: 2.5rem;
}

.skiils1 {
    font-size: 220%;
    display: flex;
}

.skiils2 {
    font-size: 220%;
    display: flex;
}

.skiils3 {
    font-size: 220%;
    display: flex;
}

/*-- Contact Section --*/
#contact {
    background: #2f2f2f;
}

#contact h1 {
    color: white;
    font-size: 220%;
    margin-bottom: 2rem;
    margin-top: 10rem;
    text-align: center;
}

#contact hr {
    display: block;
    height: 1px;
    border: 1px solid black;
    border-top: 1px solid white;
    margin: 2rem;
    width: 65%;
}

#new_page {
    background: #2f2f2f;
}

#new_page h1 {
    text-align: center center;
}