{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="aboutMe" class="offset" style="min-height: 100vh">
    <div class="row text-center">
        <div class="col-5">
            <img class="foto" alt="fotoku" src="{% static 'profile.jpg' %}">
        </div>
        <div class="col-7">
            <div class="caption1">
                <h1>About Me</h1>
                <p>My name is Aan Nur Wahidi, I am Computer Science undergraduate of Universitas Indonesia</p>
                <hr/>
            </div>
        </div>
    </div>
    <div class="hobbies text-align-center">
        <div class="col-5">
            <h1>Hobbies</h1>
        </div>
        <div class="isi">
            <div class="col-2">
                <ul class="icon" style="list-style: none;">
                    <li>
                        <i class="fas fa-music fa-2x"></i>
                    </li>
                    <li>
                        <i class="fas fa-gamepad fa-2x"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-5">
            <ul class="caption2" style="list-style: none;">
                <li>
                    Listening Music
                </li>
                <li>
                    Playing Games
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}