{% extends 'base.html' %}

{% block body %}

<div id="contact" class="offset" style="min-height: 100vh">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
        <div class="col-md-2  text-center">
            <a href="https://www.facebook.com/aan.nurwahidi.1"><i class="fab fa-facebook-square fa-5x"></i></a>
        </div>
        <div class="col-md-2  text-center">
            <a href="mailto:<aan>aannurwahidi17@gmail.com?Subject=Hello!!"><i class="fas fa-envelope fa-5x"></i></a>
        </div>
        <div class="col-md-2  text-center">
            <a href="https://www.instagram.com/aannurwahidi7"><i class="fab fa-instagram fa-5x"></i></a>
        </div>
        <div class="col-md-2  text-center">
            <a href="https://api.whatsapp.com/send?phone=6282122693195&text=&source=&data="><i class="fab fa-whatsapp fa-5x"></i></a>
        </div>
        <hr/>
    </div>
    <div class="new text-center">
        <a class="btn btn-outline-light btn-lg" href="{% url 'Story_4:new_page' %}">To my secret page</a>
    </div>
</div>

{% endblock body %}