{% extends 'base.html' %}

{% block body %}
<div id="home">
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1>Hello, I'm Aan</h1>
        <hr/>
        <h1>Computer Science of Universitas Indonesia</h1>
        <a href="{% url 'Story_4:homepage' %}"><i class="fas fa-chevron-down fa-4x"></i></a>
    </div>
</div>
{% endblock body %}