{% extends 'base.html' %}

{% block body %}

<div id="skills" class="offset">   
    <div class="fixed-background">
        <div class="dark" style="min-height: 100vh">
        <div class="col-md-12 text-center">
            <h1>Skills</h1>
        </div>
        <div class="skill1">
            <div class="col-2">
                <iconify-icon data-icon="logos:python"></iconify-icon>
            </div>
            <div class="col-3">
                <p>Python</p>
            </div>
            <div class="col-7">
                <div class="progress">
                    <div class="progress-bar bg-secondary" style="width:65%"></div>
                </div>
            </div>
            <hr/>
        </div>
        <div class="skill2">
            <div class="col-2">
                <iconify-icon data-icon="logos-java"></iconify-icon>
            </div>
            <div class="col-3">
                <p>Java</p>
            </div>
            <div class="col-7">
                <div class="progress">
                    <div class="progress-bar bg-secondary" style="width:73%"></div>
                </div>
            </div>
            <hr/>
        </div>
        <div class="skill3">
            <div class="col-2">
                <iconify-icon data-icon="logos:html-5"></iconify-icon>
            </div>
            <div class="col-3">
                <p>HTML</p>
            </div>
            <div class="col-7">
                <div class="progress">
                    <div class="progress-bar bg-secondary" style="width:65%"></div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
        <div class="fixed-wrap">
            <div class="fixed">
            </div>
        </div>
    </div>
</div>

<div class="content text-center"> 
</div>

{% endblock body %}